/*Comment*/
body{
    /*
    color: red;
    background-color: lightblue;
    opacity: 0.1;
    background-image: url(https://preview.redd.it/i-got-bored-so-i-decided-to-draw-a-random-image-on-the-v0-4ig97vv85vjb1.png?width=640&crop=smart&auto=webp&s=22ed6cc79cba3013b84967f32726d087e539b699);
    background-position: center;
    */
}
p, pre{
    color: black;
    /* 
    Fonts
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
    font-size: 4em;

    Text
    text-align: center;
    justify makes text end at the same place
    text-align: center;
    aligns last line of sentance
    text-align-last: center;
    vertical-align: top;
    text-decoration: overline purple solid 3px;
    text-decoration-line: line-through;
    text-decoration-style: dashed;
    text-decoration-color: red;
    text-decoration-thickness: 10px;
    text-transform: uppercase;
    text-indent: 30px;
    letter-spacing: 5px;

    Padding
    padding: 50px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;

    Borders
    border: thick solid purple;
    border-radius: 40px;
    border-style: dashed double dotted solid;
    border-width: thick;
    border-color: blueviolet;

    Margins
    top right bottom left
    margin: 50px 50px 50px 50px
    margin-left: 50px;
    margin-right: 50%; 
    margin-left: inherit;
    */
}
#Welcome {
    text-align: center;
    /* 
    outline: salmon;
    outline-style: salmon;
    outline-offset: 10px;
    outline-style: solid;
    height: 90px;
    background-color: purple;
    width: 100%; 
    max-width: 50%;
    */
}
a {
    /* text-decoration: none; */
}
/* h1.heading makes a css class for only h1 tags */
h2.heading {
    color: blue;
}

/* decendant selector */
/* h1 b {
    color: red;
} */

/* child selector */
/* h1 > b {
    color: red;
} */

/* adjacent sibling selector */
/* h1 + b {
    color: red;
} */

 /* h1 ~ b {
    color: red;
} */

/* * is the universal selector
* {
    color: purple;
} */
 table, th, td{
     border: 2px solid black;
     border-collapse: collapse; /* makes table outlines one line */
     width: 50%;
     /* visibility: hidden; - hides element from page */
     /* display: none; - removes element from page */
 }

 th, td{
    /* height: 50px; */
    padding: 10px;
 }
 td{
    /* height: 20px; */
    text-align: center;
 }
 tr:hover{
    background-color: rgb(193, 240, 240);
 }

.dropdown{
    position: relative;
    display: inline-block
}

 .dropdownbtn{
     background-color: blue;
     color: white;
     padding: 13px;
     font-size: 16px;
     border: none;
     cursor: pointer;
 }
 .dropdownmenu{
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 150px;
 }
 .dropdownmenu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    outline: solid 1px black;
    text-align: center;
 }
 .dropdownmenu a:hover{
    background-color: white;
 }

 .dropdown:hover .dropdownmenu{
    display: block;
 }
 .dropdown:hover .dropdownbtn{
    background-color: gray;
    color: black;
 }